[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pythermalcomfort = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
statsmodels = "*"
numpy = "*"
psychrolib = "*"
tabulate = "*"
scikit-learn = "*"
jinja2 = "*"
pycairo = "*"
pyqt6 = "*"
lets-plot = "*"

[dev-packages]

[requires]
python_version = "3.10"
